<%- include('./partials/header'); %>

    <h1>
        <%= postTitle %>
    </h1>
    <p>
        <%= postBody %>
    </p>
    <form action="/delete" method="post">
        <div class="delete-button">
            <input type="hidden" name="deleteID" value="<%= id %>">
            <button class="delete-button"type="submit">
                <img class="delete" src="https://cdn-icons-png.flaticon.com/512/5028/5028066.png" alt="Delete">
            </button>
        </div>
    </form>

    <%- include('./partials/footer'); %>